# .NET / Backend
[Bb]in/
[Oo]bj/
Backend/src/*/bin/
Backend/src/*/obj/
Backend/src/*/appsettings.Development.json
Backend/src/*/appsettings.*.json
*.log

# Node / Frontend
node_modules/
Frontend/node_modules/
Frontend/dist/
Frontend/.env
Frontend/.env.*

# IDEs
.idea/
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsproj
*.vsidx
